// Theme fonts
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700,800,900&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
}
// Set default link focus outline
.btn:focus, a:focus, button:focus {
    box-shadow: none !important;
}
.logo {
    width:78px;
}
.wrapper {
    margin-top: 6rem;
}
.content {
    &-wrapper {
        // animation: sk-bounce .5s linear;
        animation: scaleUpCenter .1s linear both;
        padding-top: .75rem;
    }
}
.page {
    &-error {
        margin: 0;
        min-height: 100vh;
        height: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        height: 100%;
    }
}
.hero { 
    &-start {    
        width: 100%;
        color: #333;
        .title {
            margin: 0;
            width: 100%;
            padding-top: 80px;
            line-height: 1.15;
            font-size: 48px;
        }
        .title,
        .description {
            text-align: center;
        }
        .card {
            padding-top:1rem;
            padding-bottom:1rem;
            a {
                text-decoration: none;
            }
        }
        button {
            margin-right: .5rem;
        }
    }
}
// .typography, .documentation { }
.headline {
    margin-top:1rem;
    margin-bottom:1rem;
    &-mm {
        position:relative;
        display:block;
        &:after {
            content:'';
            position: relative;
            // right:0;
            // top:50%;
            // bottom:50%;
            height:1px;
            background-color:$text-muted;
            width:auto;
            margin: 0 auto 0 0;
            display:flex;
            align-items: center;            
        }
    }
}
// Bootstrap overide
/* --- Width --- */
.w-10 {
    width: 10%;
}
.w-15 {
    width: 15%;
}
/* --- Dropdown --- */
.show > .dropdown-menu {
	visibility:visible;
	transform: translate(0, 0%);
	opacity:1;
	display: block;
	// transition: transform .5s ease;
	// overflow-x:hidden;
	// overflow-y:auto;
}
.dropdown-menu {
	border-radius:.2rem;
	transform-origin: top;
	animation-fill-mode: forwards;
	transform: translate(0, -10%);
	transition: all .2s linear !important;
	visibility:hidden;
	opacity:0;
	display: block;	
    border: 0;
    &.show {
        border: 0;
        @extend %shadow-md;	
    }
	&:before {
		display: inline-block;
		position: absolute;
		width: 0;
		height: 0;
		vertical-align: middle;
		content: "";
		top: -5px;
		// left: 10px;
		// right: auto;
		left: auto;
		right: 20px;
		color: $white;
		border-bottom: .4em solid;
		border-right: .4em solid transparent;
		border-left: .4em solid transparent;
	}
}
.dropdown-item {
	padding-top:.35rem;
	padding-bottom:.35rem;
}
.list-group-nav-left {
    .list-group-item {
        background-color:transparent;
        border:0;
    }
}