// Theme fonts
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700,800,900&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
}
// a, a.btn {
//     text-decoration: none;
// }